# Copyright 2023 XigXog
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# SPDX-License-Identifier: MPL-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Platform.Name }}-env
  namespace: {{ namespace }}
  labels:
    {{- include "labels" . | nindent 4 }}
  annotations:
    {{- include "annotations" . | nindent 4 }}
  {{- with .Owner }}
  ownerReferences:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
data:
  KUBEFOX_HOME: {{ homePath | quote }}
  KUBEFOX_INSTANCE_NAMESPACE: {{ .Instance.Namespace | quote }}
  KUBEFOX_INSTANCE: {{ .Instance.Name  | quote }}
  KUBEFOX_NAMESPACE: {{ namespace | quote }}
  KUBEFOX_PLATFORM_FULL_NAME: {{ platformFullName | quote }}
  KUBEFOX_PLATFORM_NAMESPACE: {{ .Platform.Namespace | quote }}
  KUBEFOX_PLATFORM_VAULT_NAME: {{ platformVaultName | quote }}
  KUBEFOX_PLATFORM: {{ .Platform.Name | quote }}
  {{- with .Logger.Format }}
  KUBEFOX_LOG_FORMAT: {{ . | quote }}
  {{- end }}
  {{- with .Logger.Level }}
  KUBEFOX_LOG_LEVEL: {{ . | quote }}
  {{- end }}
