# Kubernetes Resources

{{ range .Groups }}
{{- $group := . }}
## {{.Group}}/{{.Version}}

Resource Types:
{{ range .Kinds }}
- [{{.Name}}](#{{ anchorize .Name }})
{{- end }}

{{ range .Kinds }}
{{- $kind := . }}
### {{ .Name }}
{{ range .Types }}
{{- if not (or (contains "containerSpec." .Name) (contains "podSpec." .Name)) }}
{{ if not .IsTopLevel }}
#### {{.Name}}
{{- end }}

{{ .Description }}

| Name | Type | Description | Required |
| ---- | ---- | ----------- | -------- |
{{- if .IsTopLevel }}
| apiVersion | string | {{$group.Group}}/{{$group.Version}} | true |
| kind | string | {{$kind.Name}} | true |
| [metadata](https://kubernetes.io/docs/reference/kubernetes-api/common-definitions/object-meta/) | object | Refer to the Kubernetes API documentation for the fields of the `metadata` field. | true |
{{- end }}
{{- range .Fields -}}
{{- if or (contains "containerSpec." .Name) (contains "podSpec." .Name) }}
| [TODO LINK TO K8S DOCS](#{{ anchorize .TypeKey }})  | {{ .Type }} | | {{ .Required }} |
{{- else }}
| {{ if .TypeKey }}[{{ .Name }}](#{{ anchorize .TypeKey }}){{ else }}{{ .Name }}{{ end }} | {{ .Type }} | | {{ .Required }} |
{{- end }}
{{- end }}

{{ end }}
{{- end }}
{{- end }}
{{- end }}
