:root {
  --md-tooltip-width: 400px;
  --md-text-font: "Open Sans", sans-serif;
  --md-code-font: "Source Code Pro", monospace;
}

:root code {
  font-size: 0.9em;
}

img[alt="diagram"] {
  border: 1.5rem solid white;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.md-header__button.md-logo {
  padding: 0;
}

.md-logo img {
  height: 3rem !important;
}

.md-typeset summary {
  font-size: 0.9em;
  font-weight: 600;
}

.md-typeset details {
  font-size: 1em;
}

.md-tooltip {
  text-align: center;
}
