/**
 * Copyright 2023 XigXog
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * SPDX-License-Identifier: MPL-2.0
 */

:root {
  --md-tooltip-width: 340px;
  --md-text-font: "Noto Sans", sans-serif;
  --md-code-font: "Source Code Pro", monospace;
}

[data-md-color-primary="yellow"]:not([data-md-color-scheme="slate"]) {
  --md-typeset-a-color: #2824d3;
}

img[alt="diagram"] {
  display: block;
  margin: 0 auto;
  padding: 3%;
  border: 1px solid gray;
  background-color: white;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
}

.md-header__button.md-logo {
  padding: 0;
}

.md-header__button.md-logo img {
  height: 2.5rem;
  margin-right: -0.75rem;
}

.md-tabs a {
  margin-top: 0.4rem;
}

.md-tabs li {
  height: 1.8rem;
}

.md-typeset summary {
  font-size: 0.8em;
  font-weight: 400;
}

.md-typeset details {
  font-size: 1em;
}

.md-tooltip {
  text-align: center;
}

.md-grid {
  max-width: 90%;
}

/* The following should (hopefully) be specific to mermaid */

/* body {
  background: white;
}
 */

/* .actor-top {
  fill:aqua;
}

.actor {
  stroke: yellow;
  fill: yellow;
}
text.actor {
  fill: black;
  stroke: none;
  font-family: Helvetica;
}

.actor-line {
  stroke: grey;
}

.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: '2 2';
  marker-end: 'url(#arrowhead)';
  stroke: black;
}

.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: '2 2';
  stroke: black;
}

#arrowhead {
  fill: black;
}

.messageText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}

.labelBox {
  stroke: #ccccff;
  fill: #ececff;
}

.labelText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
}

.loopText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
}

.loopLine {
  stroke-width: 2;
  stroke-dasharray: '2 2';
  marker-end: 'url(#arrowhead)';
  stroke: #ccccff;
}

.note {
  stroke: #decc93;
  fill: #fff5ad;
}

.noteText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
} */
